@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/_theming";

// Theme creator http://mcg.mbitson.com/

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$md-deepblue: (
  50: #e0e6eb,
  100: #b3c1cd,
  200: #8098ab,
  300: #4d6e89,
  400: #264f70,
  500: #003057,
  600: #002b4f,
  700: #002446,
  800: #001e3c,
  900: #00132c,
  A100: #6595ff,
  A200: #3272ff,
  A400: #004ffe,
  A700: #0047e5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-lightblue: (
  50: #e0f3fa,
  100: #b3e0f3,
  200: #80ccec,
  300: #4db8e4,
  400: #26a8de,
  500: #0099d8,
  600: #0091d4,
  700: #0086ce,
  800: #007cc8,
  900: #006bbf,
  A100: #e7f3ff,
  A200: #b4daff,
  A400: #81c0ff,
  A700: #68b3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-gray: (
  50: #efefef,
  100: #d7d7d7,
  200: #bcbcbc,
  300: #a1a1a1,
  400: #8c8c8c,
  500: #787878,
  600: #707070,
  700: #656565,
  800: #5b5b5b,
  900: #484848,
  A100: #f7b4b4,
  A200: #f28686,
  A400: #ff4646,
  A700: #ff2c2c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-teal: (
  50: #e0f3f1,
  100: #b3e2dd,
  200: #80cfc6,
  300: #4dbbaf,
  400: #26ad9d,
  500: #009e8c,
  600: #009684,
  700: #008c79,
  800: #00826f,
  900: #00705c,
  A100: #9fffea,
  A200: #6cffdf,
  A400: #39ffd4,
  A700: #1fffcf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-mediumblue: (
  50: #e0ecf3,
  100: #b3d0e1,
  200: #80b1cd,
  300: #4d91b9,
  400: #267aaa,
  500: #00629b,
  600: #005a93,
  700: #005089,
  800: #00467f,
  900: #00346d,
  A100: #9cc3ff,
  A200: #69a4ff,
  A400: #3685ff,
  A700: #1d76ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-yellow: (
  50: #fef4e4,
  100: #fee4ba,
  200: #fdd28d,
  300: #fcbf5f,
  400: #fbb23c,
  500: #faa41a,
  600: #f99c17,
  700: #f99213,
  800: #f8890f,
  900: #f67808,
  A100: #ffffff,
  A200: #fff4eb,
  A400: #ffd6b8,
  A700: #ffc89f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-pink: (
  50: #f2e0ea,
  100: #e0b3ca,
  200: #cb80a6,
  300: #b64d82,
  400: #a62668,
  500: #96004d,
  600: #8e0046,
  700: #83003d,
  800: #790034,
  900: #680025,
  A100: #ff97b2,
  A200: #ff648d,
  A400: #ff3167,
  A700: #ff1854,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-purple: (
  50: #f0e0f0,
  100: #d9b3d9,
  200: #c080c0,
  300: #a64da6,
  400: #932693,
  500: #800080,
  600: #780078,
  700: #6d006d,
  800: #630063,
  900: #500050,
  A100: #ff83ff,
  A200: #ff50ff,
  A400: #ff1dff,
  A700: #ff03ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$sr-primary: mat-palette($md-deepblue);
$sr-accent: mat-palette($md-lightblue);
$sr-warn: mat-palette($md-pink);
$sr-yellow: mat-palette($md-yellow);
$sr-teal: mat-palette($md-teal);
$sr-gray: mat-palette($md-gray);
$sr-purple: mat-palette($md-purple);

$sr-theme: mat-light-theme($sr-primary, $sr-accent, $sr-warn);

// Include all theme styles for the components.
@include angular-material-theme($sr-theme);

a,
a:not([href]) {
  color: mat-color($sr-primary);
  text-decoration: none;
}

a:hover,
a:active,
a:not([href]):hover {
  color: mat-color($sr-accent) !important;
  text-decoration: none;
}

li a {
  color: #ffffff !important;
}

.primary {
  color: mat-color($sr-primary) !important;
}

.primary-bc {
  background-color: mat-color($sr-primary) !important;
}

.accent {
  color: mat-color($sr-accent) !important;
}

.accent-bc {
  background-color: mat-color($sr-accent) !important;
}

.gray-lighter-bc {
  background-color: mat-color($sr-gray, 200);
}

.purple-lighter-bc {
  background-color: mat-color($sr-purple, 200);
}

.teal {
  color: mat-color($sr-teal);
}

.teal-lighter-bc {
  background-color: mat-color($sr-teal, 200);
}

.warn,
.w-hover:hover {
  color: mat-color($sr-warn) !important;
}

.warn-lighter-bc {
  background-color: mat-color($sr-warn, 200);
}

.yellow {
  color: mat-color($sr-yellow);
}

.yellow-lighter-bc {
  background-color: mat-color($sr-yellow, 200);
}

.material-icons {
  color: mat-color($sr-gray);
}
